@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-fond: #fffbe4;
  --color-zoning: #d5edb7;
  --color-texte: #382821;
  --color-accents1: {
      light: #ff7438,
      DEFAULT: #dd4302,
      dark: #b83700,
  };
  --color-accents2: {
      light: '#a0bc7d',
      DEFAULT: '#758a5a',
      dark: '#536140',
  };
  --font-sm: 0.8rem;
  --font-base: 1rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.563rem;
  --font-3xl: 1.953rem;
  --font-4xl: 2.441rem;
  --font-5xl: 3.052rem;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
  --font-sans: "Graphik", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-grands: "Grandstander", cursive;
  --font-body: "Noto Sans", sans-serif;
  /* Shouldn't be needed * /
  /* --bg-unai: "url('$lib/assets/images/unai.webp')"; */
  /*   
  --backgroundPosition: {
    bottom: 'bottom',
    center: 'center',
    left: 'left',
    'left-bottom': 'left bottom',
    'left-top': 'left top',
    'left-4': 'center left -40vw',
    right: 'right',
    'right-bottom': 'right bottom',
    'right-top': 'right top',
    top: 'top',
  },
  --spacing: {
      '8xl': '96rem',
      '9xl': '128rem',
    },
    borderRadius: {
      '4xl': '2rem',
    } 
  */
  }

@layer components {
  *,
  ::before,
  ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
  }

  ::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
  }

  .container {
    width: 100%;
  }

  @media (min-width: 480px) {
    .container {
      max-width: 480px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 976px) {
    .container {
      max-width: 976px;
    }
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }

  body {
    color: #382821;
    font-size: large;
  }

  h1 {
    align-items: center;
    line-height: 2.5vh;
    letter-spacing: 1%;
    font-size: 3vh;
  }

  .stroke-title {
    -webkit-text-fill-color: solid #382821;
    -webkit-text-stroke: 1vh #fffbe4;
    paint-order: stroke fill;
    font-weight: bolder;
  }

  .to-top {
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    z-index: 1;
  }

  /*To top button text*/

  .to-top-text {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s,
      opacity 0.5s;
  }

  .to-top:hover .to-top-text {
    opacity: 1;
    visibility: visible;
  }

  /*Burger Menu*/

  /*Desktop*/

  @media (max-width: 767px) {
    .hamburger {
      display: none;
    }

    .bar {
      display: block;
      width: 40px;
      height: 5px;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
      background-color: #382821;
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-items {
      margin-left: 5rem;
      list-style: none;
    }

    .nav-items:focus,
    .nav-items:hover {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
      text-decoration: underline;
    }
  }

  /*Mobile*/

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
    background-color: #fffbe4;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
    background-color: #fffbe4;
  }

  .nav-links {
    position: absolute;
    z-index: 0;
    left: -100%;
    background-color: #d5edb7;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-links.active {
    left: 0;
  }

  .dashbtn {
    height: 100%;
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.25rem;
    border: 2px solid #dd4302;
    border-bottom: none;
    border-top-left-radius: 15px;
  }

  @media only screen and (min-width: 790px) {
    .dashbtn {
      padding-right: 2rem;
      font-size: 0.875rem;
    }
  }

  .dashbtn:hover {
    text-decoration: underline;
  }

  .dashbtn-active {
    border-color: #b83700;
    background-color: #dd4302;
    color: #fffbe4;
  }

  .dashsubbtn-active {
    background-color: #536140;
  }

  .visible {
    visibility: visible;
  }

  .fixed {
    position: fixed;
  }

  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .inset-0 {
    inset: 0px;
  }

  .end-0 {
    inset-inline-end: 0px;
  }

  .right-4 {
    right: 1rem;
  }

  .start-0 {
    inset-inline-start: 0px;
  }

  .top-0 {
    top: 0px;
  }

  .z-10 {
    z-index: 10;
  }

  .col-span-1 {
    grid-column: span 1 / span 1;
  }

  .col-span-3 {
    grid-column: span 3 / span 3;
  }

  .m-3 {
    margin: 0.75rem;
  }

  .m-4 {
    margin: 1rem;
  }

  .m-6 {
    margin: 1.5rem;
  }

  .mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mb-1 {
    margin-bottom: 0.25rem;
  }

  .mb-12 {
    margin-bottom: 3rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .mb-3 {
    margin-bottom: 0.75rem;
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .mr-0 {
    margin-right: 0px;
  }

  .mr-1 {
    margin-right: 0.25rem;
  }

  .mt-2 {
    margin-top: 0.5rem;
  }

  .mt-4 {
    margin-top: 1rem;
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .table {
    display: table;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .size-10 {
    width: 2.5rem;
    height: 2.5rem;
  }

  .size-20 {
    width: 5rem;
    height: 5rem;
  }

  .size-6 {
    width: 1.5rem;
    height: 1.5rem;
  }

  .size-8 {
    width: 2rem;
    height: 2rem;
  }

  .h-12 {
    height: 3rem;
  }

  .h-2 {
    height: 0.5rem;
  }

  .h-36 {
    height: 9rem;
  }

  .h-48 {
    height: 12rem;
  }

  .h-5 {
    height: 1.25rem;
  }

  .h-8 {
    height: 2rem;
  }

  .h-9 {
    height: 2.25rem;
  }

  .h-\[80\%\] {
    height: 80%;
  }

  .h-auto {
    height: auto;
  }

  .h-full {
    height: 100%;
  }

  .h-screen {
    height: 100vh;
  }

  .w-1\/3 {
    width: 33.333333%;
  }

  .w-16 {
    width: 4rem;
  }

  .w-2\/4 {
    width: 50%;
  }

  .w-28 {
    width: 7rem;
  }

  .w-36 {
    width: 9rem;
  }

  .w-5\/6 {
    width: 83.333333%;
  }

  .w-56 {
    width: 14rem;
  }

  .w-6 {
    width: 1.5rem;
  }

  .w-60 {
    width: 15rem;
  }

  .w-\[20\%\] {
    width: 20%;
  }

  .w-\[40\%\] {
    width: 40%;
  }

  .w-\[50\%\] {
    width: 50%;
  }

  .w-\[60\%\] {
    width: 60%;
  }

  .w-\[75\%\] {
    width: 75%;
  }

  .w-\[80\%\] {
    width: 80%;
  }

  .w-\[90\%\] {
    width: 90%;
  }

  .w-\[94\%\] {
    width: 94%;
  }

  .w-auto {
    width: auto;
  }

  .w-full {
    width: 100%;
  }

  .w-screen {
    width: 100vw;
  }

  .max-w-4xl {
    max-width: 56rem;
  }

  .flex-1 {
    flex: 1 1 0%;
  }

  .flex-auto {
    flex: 1 1 auto;
  }

  .flex-none {
    flex: none;
  }

  .shrink {
    flex-shrink: 1;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .grow {
    flex-grow: 1;
  }

  .grow-0 {
    flex-grow: 0;
  }

  .border-separate {
    border-collapse: separate;
  }

  .transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .grid-flow-row-dense {
    grid-auto-flow: row dense;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  .place-content-center {
    place-content: center;
  }

  .place-content-evenly {
    place-content: space-evenly;
  }

  .place-items-start {
    place-items: start;
  }

  .content-center {
    align-content: center;
  }

  .content-start {
    align-content: flex-start;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-center {
    align-items: center;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-stretch {
    justify-content: stretch;
  }

  .gap-1 {
    gap: 0.25rem;
  }

  .gap-2 {
    gap: 0.5rem;
  }

  .gap-3 {
    gap: 0.75rem;
  }

  .gap-3\.5 {
    gap: 0.875rem;
  }

  .gap-4 {
    gap: 1rem;
  }

  .gap-x-1\.5 {
    -moz-column-gap: 0.375rem;
    column-gap: 0.375rem;
  }

  .gap-x-2 {
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
  }

  .gap-x-4 {
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .gap-x-6 {
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  .gap-y-2 {
    row-gap: 0.5rem;
  }

  .gap-y-4 {
    row-gap: 1rem;
  }

  .divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  }

  .place-self-start {
    place-self: start;
  }

  .place-self-center {
    place-self: center;
  }

  .self-start {
    align-self: flex-start;
  }

  .self-center {
    align-self: center;
  }

  .justify-self-center {
    justify-self: center;
  }

  .justify-self-stretch {
    justify-self: stretch;
  }

  .rounded-2xl {
    border-radius: 1rem;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  .rounded-lg {
    border-radius: 0.5rem;
  }

  .rounded-md {
    border-radius: 0.375rem;
  }

  .rounded-xl {
    border-radius: 0.75rem;
  }

  .rounded-b-lg {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .rounded-b-xl {
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }

  .rounded-t-lg {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .rounded-t-xl {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  .rounded-br-lg {
    border-bottom-right-radius: 0.5rem;
  }

  .rounded-tl-lg {
    border-top-left-radius: 0.5rem;
  }

  .rounded-tr-lg {
    border-top-right-radius: 0.5rem;
  }

  .rounded-tr-xl {
    border-top-right-radius: 0.75rem;
  }

  .border-2 {
    border-width: 2px;
  }

  .border-r-2 {
    border-right-width: 2px;
  }

  .border-t-2 {
    border-top-width: 2px;
  }

  .border-solid {
    border-style: solid;
  }

  .border-none {
    border-style: none;
  }

  .border-accents2 {
    --tw-border-opacity: 1;
    border-color: rgb(117 138 90 / var(--tw-border-opacity));
  }

  .border-accents2-dark {
    --tw-border-opacity: 1;
    border-color: rgb(83 97 64 / var(--tw-border-opacity));
  }

  .border-accents2-light {
    --tw-border-opacity: 1;
    border-color: rgb(160 188 125 / var(--tw-border-opacity));
  }

  .border-texte {
    --tw-border-opacity: 1;
    border-color: rgb(56 40 33 / var(--tw-border-opacity));
  }

  .border-r-zoning {
    --tw-border-opacity: 1;
    border-right-color: rgb(213 237 183 / var(--tw-border-opacity));
  }

  .border-t-accents2 {
    --tw-border-opacity: 1;
    border-top-color: rgb(117 138 90 / var(--tw-border-opacity));
  }

  .bg-accents1 {
    --tw-bg-opacity: 1;
    background-color: rgb(221 67 2 / var(--tw-bg-opacity));
  }

  .bg-accents1-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(184 55 0 / var(--tw-bg-opacity));
  }

  .bg-accents1-light {
    --tw-bg-opacity: 1;
    background-color: rgb(255 116 56 / var(--tw-bg-opacity));
  }

  .bg-accents2 {
    --tw-bg-opacity: 1;
    background-color: rgb(117 138 90 / var(--tw-bg-opacity));
  }

  .bg-accents2-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(83 97 64 / var(--tw-bg-opacity));
  }

  .bg-accents2-light {
    --tw-bg-opacity: 1;
    background-color: rgb(160 188 125 / var(--tw-bg-opacity));
  }

  .bg-fond {
    --tw-bg-opacity: 1;
    background-color: rgb(255 251 228 / var(--tw-bg-opacity));
  }

  .bg-texte\/20 {
    background-color: rgb(56 40 33 / 0.2);
  }

  .bg-texte\/35 {
    background-color: rgb(56 40 33 / 0.35);
  }

  .bg-zoning {
    --tw-bg-opacity: 1;
    background-color: rgb(213 237 183 / var(--tw-bg-opacity));
  }

  .bg-unai {
    background-image: url('./assets/images/unai.webp');
  }

  .bg-cover {
    background-size: cover;
  }

  .bg-right {
    background-position: right;
  }

  .object-contain {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .p-1 {
    padding: 0.25rem;
  }

  .p-12 {
    padding: 3rem;
  }

  .p-2 {
    padding: 0.5rem;
  }

  .p-3 {
    padding: 0.75rem;
  }

  .p-32 {
    padding: 8rem;
  }

  .p-4 {
    padding: 1rem;
  }

  .p-6 {
    padding: 1.5rem;
  }

  .px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }

  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .pb-2 {
    padding-bottom: 0.5rem;
  }

  .pb-4 {
    padding-bottom: 1rem;
  }

  .pb-6 {
    padding-bottom: 1.5rem;
  }

  .pl-2 {
    padding-left: 0.5rem;
  }

  .pl-4 {
    padding-left: 1rem;
  }

  .pr-1 {
    padding-right: 0.25rem;
  }

  .pr-2 {
    padding-right: 0.5rem;
  }

  .pr-4 {
    padding-right: 1rem;
  }

  .pr-6 {
    padding-right: 1.5rem;
  }

  .pt-0\.5 {
    padding-top: 0.125rem;
  }

  .pt-10 {
    padding-top: 2.5rem;
  }

  .pt-2 {
    padding-top: 0.5rem;
  }

  .pt-5 {
    padding-top: 1.25rem;
  }

  .pt-6 {
    padding-top: 1.5rem;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .align-middle {
    vertical-align: middle;
  }

  .font-body {
    font-family: 'Noto Sans', sans-serif;
  }

  .font-grands {
    font-family: Grandstander, cursive;
  }

  .text-2xl {
    font-size: 1.563rem;
  }

  .text-3xl {
    font-size: 1.953rem;
  }

  .text-4xl {
    font-size: 2.441rem;
  }

  .text-5xl {
    font-size: 3.052rem;
  }

  .text-base {
    font-size: 1rem;
  }

  .text-sm {
    font-size: 0.8rem;
  }

  .text-xl {
    font-size: 1.25rem;
  }

  .font-bold {
    font-weight: 700;
  }

  .font-extrabold {
    font-weight: 800;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-semibold {
    font-weight: 600;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .italic {
    font-style: italic;
  }

  .leading-3 {
    line-height: 0.75rem;
  }

  .leading-4 {
    line-height: 1rem;
  }

  .text-accents1 {
    --tw-text-opacity: 1;
    color: rgb(221 67 2 / var(--tw-text-opacity));
  }

  .text-accents1-light {
    --tw-text-opacity: 1;
    color: rgb(255 116 56 / var(--tw-text-opacity));
  }

  .text-fond {
    --tw-text-opacity: 1;
    color: rgb(255 251 228 / var(--tw-text-opacity));
  }

  .text-texte {
    --tw-text-opacity: 1;
    color: rgb(56 40 33 / var(--tw-text-opacity));
  }

  .opacity-75 {
    opacity: 0.75;
  }

  .shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:
      0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:
      0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
      var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .transition {
    transition-property:
      color,
      background-color,
      border-color,
      text-decoration-color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
      filter,
      -webkit-backdrop-filter;
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke, opacity,
      box-shadow, transform, filter, backdrop-filter;
    transition-property:
      color,
      background-color,
      border-color,
      text-decoration-color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
      filter,
      backdrop-filter,
      -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .duration-200 {
    transition-duration: 200ms;
  }

  .ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  @media (max-width: 767px) {
    @media (max-width: 767px) {
      .max-\[767px\]\:nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .max-\[767px\]\:nav-links {
      position: absolute;
      z-index: 0;
      left: -100%;
      background-color: #d5edb7;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    @media (max-width: 767px) {
      .max-\[767px\]\:nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .max-\[767px\]\:nav-links {
      position: absolute;
      z-index: 0;
      left: -100%;
      background-color: #d5edb7;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .max-\[767px\]\:nav-links.active {
      left: 0;
    }
  }

  .odd\:bg-accents2-light:nth-child(odd) {
    --tw-bg-opacity: 1;
    background-color: rgb(160 188 125 / var(--tw-bg-opacity));
  }

  .odd\:text-fond:nth-child(odd) {
    --tw-text-opacity: 1;
    color: rgb(255 251 228 / var(--tw-text-opacity));
  }

  .even\:bg-fond:nth-child(even) {
    --tw-bg-opacity: 1;
    background-color: rgb(255 251 228 / var(--tw-bg-opacity));
  }

  .hover\:bg-accents1:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(221 67 2 / var(--tw-bg-opacity));
  }

  .hover\:bg-accents1-dark:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(184 55 0 / var(--tw-bg-opacity));
  }

  .hover\:bg-accents1-light:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 116 56 / var(--tw-bg-opacity));
  }

  .hover\:bg-accents2-dark:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(83 97 64 / var(--tw-bg-opacity));
  }

  .hover\:text-accents1-light:hover {
    --tw-text-opacity: 1;
    color: rgb(255 116 56 / var(--tw-text-opacity));
  }

  .hover\:text-fond:hover {
    --tw-text-opacity: 1;
    color: rgb(255 251 228 / var(--tw-text-opacity));
  }

  .hover\:underline:hover {
    text-decoration-line: underline;
  }

  .focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
      var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }

  .focus\:ring-offset-2:focus {
    --tw-ring-offset-width: 2px;
  }

  .group:hover .group-hover\:block {
    display: block;
  }

  @media (max-width: 767px) {
    .max-\[767px\]\:mx-4 {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .max-\[767px\]\:hidden {
      display: none;
    }

    .max-\[767px\]\:border-b-fond {
      --tw-border-opacity: 1;
      border-bottom-color: rgb(255 251 228 / var(--tw-border-opacity));
    }

    .max-\[767px\]\:pb-2 {
      padding-bottom: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    .md\:absolute {
      position: absolute;
    }

    .md\:right-0 {
      right: 0px;
    }

    .md\:right-5 {
      right: 1.25rem;
    }

    .md\:top-0 {
      top: 0px;
    }

    .md\:my-2 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .md\:my-3 {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }

    .md\:my-8 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .md\:ml-10 {
      margin-left: 2.5rem;
    }

    .md\:ml-6 {
      margin-left: 1.5rem;
    }

    .md\:mr-4 {
      margin-right: 1rem;
    }

    .md\:mr-6 {
      margin-right: 1.5rem;
    }

    .md\:mt-32 {
      margin-top: 8rem;
    }

    .md\:block {
      display: block;
    }

    .md\:inline {
      display: inline;
    }

    .md\:grid {
      display: grid;
    }

    .md\:hidden {
      display: none;
    }

    .md\:size-60 {
      width: 15rem;
      height: 15rem;
    }

    .md\:h-full {
      height: 100%;
    }

    .md\:w-1\/2 {
      width: 50%;
    }

    .md\:w-1\/4 {
      width: 25%;
    }

    .md\:w-32 {
      width: 8rem;
    }

    .md\:w-5\/6 {
      width: 83.333333%;
    }

    .md\:w-\[20\%\] {
      width: 20%;
    }

    .md\:w-\[60\%\] {
      width: 60%;
    }

    .md\:w-\[625px\] {
      width: 625px;
    }

    .md\:w-auto {
      width: auto;
    }

    .md\:w-full {
      width: 100%;
    }

    .md\:max-w-96 {
      max-width: 24rem;
    }

    .md\:max-w-\[50\%\] {
      max-width: 50%;
    }

    .md\:shrink {
      flex-shrink: 1;
    }

    .md\:grow-0 {
      flex-grow: 0;
    }

    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .md\:flex-row {
      flex-direction: row;
    }

    .md\:flex-row-reverse {
      flex-direction: row-reverse;
    }

    .md\:flex-col {
      flex-direction: column;
    }

    .md\:flex-nowrap {
      flex-wrap: nowrap;
    }

    .md\:place-content-end {
      place-content: end;
    }

    .md\:justify-start {
      justify-content: flex-start;
    }

    .md\:justify-end {
      justify-content: flex-end;
    }

    .md\:gap-2 {
      gap: 0.5rem;
    }

    .md\:gap-5 {
      gap: 1.25rem;
    }

    .md\:place-self-start {
      place-self: start;
    }

    .md\:place-self-end {
      place-self: end;
    }

    .md\:rounded-none {
      border-radius: 0px;
    }

    .md\:rounded-b-lg {
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    .md\:border-4 {
      border-width: 4px;
    }

    .md\:border-l-2 {
      border-left-width: 2px;
    }

    .md\:border-r-2 {
      border-right-width: 2px;
    }

    .md\:border-l-zoning {
      --tw-border-opacity: 1;
      border-left-color: rgb(213 237 183 / var(--tw-border-opacity));
    }

    .md\:border-r-fond {
      --tw-border-opacity: 1;
      border-right-color: rgb(255 251 228 / var(--tw-border-opacity));
    }

    .md\:border-r-zoning {
      --tw-border-opacity: 1;
      border-right-color: rgb(213 237 183 / var(--tw-border-opacity));
    }

    .md\:bg-fond {
      --tw-bg-opacity: 1;
      background-color: rgb(255 251 228 / var(--tw-bg-opacity));
    }

    .md\:p-0 {
      padding: 0px;
    }

    .md\:px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .md\:pl-8 {
      padding-left: 2rem;
    }

    .md\:pr-4 {
      padding-right: 1rem;
    }

    .md\:text-center {
      text-align: center;
    }

    @media (min-width: 768px) {
      .md\:md\:text-2xl {
        font-size: 1.563rem;
      }
    }

    .md\:text-2xl {
      font-size: 1.563rem;
    }

    .md\:text-3xl {
      font-size: 1.953rem;
    }

    .md\:text-base {
      font-size: 1rem;
    }

    .md\:text-xl {
      font-size: 1.25rem;
    }
  }

  @media (min-width: 976px) {
    .lg\:col-start-2 {
      grid-column-start: 2;
    }

    .lg\:mx-2 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .lg\:grid {
      display: grid;
    }

    .lg\:h-16 {
      height: 4rem;
    }

    .lg\:w-full {
      width: 100%;
    }

    .lg\:flex-none {
      flex: none;
    }

    .lg\:columns-2 {
      -moz-columns: 2;
      columns: 2;
    }

    .lg\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .lg\:p-32 {
      padding: 8rem;
    }

    .lg\:px-2 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .lg\:text-sm {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 1440px) {
    .xl\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .xl\:p-10 {
      padding: 2.5rem;
    }

    .xl\:text-xl {
      font-size: 1.25rem;
    }
  }

  @media (min-width: 1536px) {
    .\32xl\:w-1\/2 {
      width: 50%;
    }

    .\32xl\:self-center {
      align-self: center;
    }
  }

  body {
    color: #382821;
    font-size: large;
  }

  h1 {
    align-items: center;
    line-height: 2.5vh;
    letter-spacing: 1%;
    font-size: 3vh;
  }
  .stroke-title {
    -webkit-text-fill-color: solid #382821;
    -webkit-text-stroke: 1vh #fffbe4;
    paint-order: stroke fill;
    font-weight: bolder;
  }

  .to-top {
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    z-index: 1;
  }

  .to-top-text {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s,
      opacity 0.5s;
  }

  .to-top:hover .to-top-text {
    opacity: 1;
    visibility: visible;
  }

  /*Burger Menu*/
  /*Desktop*/
  @media (max-width: 767px) {
    .hamburger {
      display: none;
    }

    .bar {
      display: block;
      width: 40px;
      height: 5px;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #382821;
    }
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-items {
      margin-left: 5rem;
      list-style: none;
    }

    .nav-items:focus,
    .nav-items:hover {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
      text-decoration: underline;
    }
  }

  /*Mobile*/

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
    background-color: #fffbe4;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
    background-color: #fffbe4;
  }

  .nav-links {
    position: absolute;
    z-index: 0;
    left: -100%;
    background-color: #d5edb7;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-links.active {
    left: 0;
  }

  .nav-items {
    margin: 2.5rem 0;
  }

  .dashbtn {
    height: 100%;
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.25rem;
    border: 2px solid #dd4302;
    border-bottom: none;
    border-top-left-radius: 15px;
  }

  @media only screen and (min-width: 790px) {
    .dashbtn {
      padding-right: 2rem;
      font-size: 0.875rem;
    }
  }

  .dashbtn:hover {
    text-decoration: underline;
  }

  .dashbtn-active {
    border-color: #b83700;
    background-color: #dd4302;
    color: #fffbe4;
  }
  
  .dashsubbtn-active {
    background-color: #536140;
  }
}
